<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Battleships</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm">
        <div class="row text-center">
            <h1 style="line-height: 105px;">Create new game</h1>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Main</a></li>
              <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>

        <% if (typeof error != 'undefined') { %>
        <div class="alert alert-primary" role="alert"><%= error %></div>
        <% } %>

        <div class="row">

            <form action="/create" method="post">
                <fieldset>
                    <legend>Game type:</legend>

                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="single" name="type" value="single" <%- type == 'single' ? "checked" : "" %> />
                        <label class="form-label" for="single">Single player</label>
                    </div>

                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="multy-public" name="type" value="multi-public" <%- type == 'multi-public' ? "checked" : "" %> />
                        <label class="form-label" for="multy-public">Multiplayer public</label>
                    </div>

                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="multy-private" name="type" value="multi-private" <%- type == 'multi-private' ? "checked" : "" %> />
                        <label class="form-label" for="multy-private">Multiplayer private</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Game settings:</legend>

                    <select class="form-select mb-4" id="mode" name="mode" onChange="modeChanged(this)">
                        <option <%- mode == 'classic' ? "selected" : "" %> value="classic">Classic game</option>
                        <option  <%- mode == 'custom' ? "selected" : "" %> value="custom">Custom game</option>
                    </select>

                    <div class="row mb-3">
                        <label for="cols" class="col-sm-2 col-form-label">Grid columns</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="cols" name="cols" value="<%= cols %>" readonly min="0" max="20" onchange="numberChanged(this)">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="rows" class="col-sm-2 col-form-label">Grid rows</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="rows" name="rows" value="<%= rows %>" readonly min="0" max="20" onchange="numberChanged(this)">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="carrier">🟦🟦🟦🟦🟦 (carrier)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="carrier" name="carrier" value="<%= carrier %>" readonly min="0" max="10" onchange="numberChanged(this)">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="battleship">🟦🟦🟦🟦 (battleship)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="battleship" name="battleship" value="<%= battleship %>" readonly min="0" max="10" onchange="numberChanged(this)">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="destroyer">🟦🟦🟦 (destroyer)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="destroyer" name="destroyer" value="<%= destroyer %>" readonly min="0" max="10" onchange="numberChanged(this)">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="patrol-boat">🟦🟦 (patrol boat)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="patrol-boat" name="patrolboat" value="<%= patrolboat %>" readonly min="0" max="10" onchange="numberChanged(this)">
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary form-control" onsubmit="formSubmit()">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script language="javascript">
        function modeChanged(e) {
            const mode = document.getElementById("mode").value
            var readOnlyValue
            if (mode === "custom") {
                readOnlyValue = false
            } else {
                readOnlyValue = true
                document.getElementById("cols").value = 10
                document.getElementById("rows").value = 10
                document.getElementById("carrier").value = 1
                document.getElementById("battleship").value = 2
                document.getElementById("destroyer").value = 3
                document.getElementById("patrol-boat").value = 4
            }

            document.getElementById("cols").readOnly = readOnlyValue
            document.getElementById("rows").readOnly = readOnlyValue
            document.getElementById("carrier").readOnly = readOnlyValue
            document.getElementById("battleship").readOnly = readOnlyValue
            document.getElementById("destroyer").readOnly = readOnlyValue
            document.getElementById("patrol-boat").readOnly = readOnlyValue
        }

        const numberChanged = function(el) {
            const val = parseInt(el.value)
            const max = parseInt(el.max)
            if (val > max) {
                el.value = max
            }

            const min = parseInt(el.min);
            if (val < min) {
                el.value = min
            }
        }
    </script>
</body>
</html>